requests==2.23.0
torchtext==0.3.1
pandas==1.1.4
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.0+cpu
numpy==1.18.5
beautifulsoup4==4.9.3
scikit_learn==0.23.2
streamlit==0.71.0
